<% if session[:user_id] %>
<% else %>
	<style type="text/css">
	  .btn-logout{
	    display: none;
	  }
	</style>
<% end %>
<div class="container" style="text-align:center;">
	<h1 style="margin-top: 20px;">Templates</h1><br/>
	<p class="first-line">More Templates Coming Soon!</p>

	<div class="col-xs-3">
		<!--Card-->

	<style type="text/css">
		.card{
			border: 1px solid #ccc;
			padding: 5px;
			border-radius: 3%;
			margin: 0 0  20px 0;
		}
	</style>	

		<div class="card" style="">

		    <!--Card image-->
		    <img class="img-fluid" src="/template1.png" alt="Card image cap" width="150">
		    <!--/.Card image-->

		    <!--Card content-->
		    <div class="card-block">
		        <!--Title-->
		        <h4 class="card-title">Template 1</h4>
		        <!--Text-->
		        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
		<% if session[:user_id] %>
		        <a href="/template1" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
		        <a href="/template1.pdf" target="_blank" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Sample</a>
		<% else %>
		        <a href="/login" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
		        <a href="/login" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i> Sample</a>
		<% end %>	

		    </div>
		    <!--/.Card content-->

		</div>
		<!--/.Card-->
	</div>
	
</div>